* {
  color: aliceblue;
  font-size: 40px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}
body{
    height: 100vh;
    width: 100vw;
}
#container{
  background-color: rgb(58, 58, 58);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#areaGame{
        display: grid;
        width: 90%;
        height: 90%;
        margin: 0 auto;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100 repeat(5, 50px);
        grid-template-areas:
          "10 11 12"
          "7 8 9 "
          "4 5 6 "
          "1 2 3" 
          "score";
        border: 2px solid rgb(253, 1, 253);
        border-radius: 20px;
        align-items: center; 
        background-image: url(./imgs/92.png); 
}

.card{
  border: 1px solid yellow;
  border-radius: 34px;
    background-size: cover;
    background-color:rgb(223, 86, 7);
    margin: 15px;
    width: 80%;
    height: 80%;
}

#score{
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid white;
  margin-left: 10px;
  height: 90%;
  width: 390%;
}
.Neon1{
  animation: flicker 1.5s infinite alternate;
}
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
  20%, 24%, 55% {       
      text-shadow: none;
  }
}